nav {
    background-color: #282c34; 
    padding: 1rem; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

body {
    margin-top: 60px; 
}

    nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        margin-bottom: 10px;
    }

        nav ul li {
            display: inline;
        }

            nav ul li a {
                color: white;
                text-decoration: none;
            }

                nav ul li a:hover {
                    text-decoration: underline;
                }

h1 {
    color: #568d3f;
}
